In [1]:
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd

## Notes
- don't forget to use the C02 for direct ones
- almost all values missing 
- hard replacement at the end!

In [2]:
df = pd.read_csv('../raw_data/ingredients.csv')

In [3]:
df['category'] = "unknown"
df['C02_per_kilo'] = 0
df.set_index('ingredients',inplace=True)

In [4]:
df

                  category  C02_per_kilo
ingredients
tomato sauce       unknown             0
tomato paste       unknown             0
american cheese    unknown             0
beef broth         unknown             0
chicken broth      unknown             0
...                    ...           ...
ziti               unknown             0
zitronensaft       unknown             0
zucchini           unknown             0
zucchini blossoms  unknown             0
zucchini noodles   unknown             0

[4822 rows x 2 columns]

df.loc[(df.index == 'ziti'),'category']='alcohol'
df.loc[(df.index == 'ziti'),'C02_per_kilo']='2.1'

# CODE BLUEPRINT

df.loc[(df.index == 'ziti'),'category']='alcohol'
df.loc[(df.index == 'ziti'),'C02_per_kilo']='2.1'

df.loc[df.index.str.contains('beef'), 'category'] = 'beef'
df.loc[df.index.str.contains('beef'), 'C02_per_kilo'] = '0.2'

for spice in testlistspices:
    df.loc[df.index.str.contains(spice), 'category'] = 'spices'
    df.loc[df.index.str.contains(spice), 'C02_per_kilo'] = '0.3'

# Data Input

## spices

In [62]:
spices_list = ["powder", "spices", "cayenne pepper", "cayenne", "allspice", "miso","cinnamon", "seasoning", "star anise", "purpose seasoning", "allpurpose rub", "baobab fruit powder", "seasoning", "cayenne", "msg", "pfeffer", "schwarzpfeffer", "salt", "mix", "adobo allpurpose ing", "ing", "wasabi", "cinnamon", "gluten", "ginger", "gelatin", "shoots", "five spice", "chili", "chiffonade", "cardamon", "allspice", "anis"]
spices_cat ="spices"
spcies_C02 = 0.3
for item in spices_list:
        df.loc[df.index.str.contains(item), 'category'] = spices_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = spcies_C02
df.groupby(['category']).size()

category
Poultry_meat      12
beer              19
booze             24
broth            247
cheese           146
chicken           59
coconut           26
cow              125
eggs              35
fish              96
fruit             11
greenspices      241
juice             55
milk              45
noodles          159
pig              141
rice              88
sauces           250
sausage           13
soft drinks       12
spices           524
sugar             35
turkey            35
unknown         2046
vegetables       341
wine              37
dtype: int64

## liquid spices

In [6]:
liqspices_list = ["sauce", "soy sauce", "soy",  "vinegar", "fish sauce", "pesto", "salsa", "chipotle", "doubanjiang", "chimichurri", "catsup", "paste", "mustard", "honey"]
liqspices_cat ="sauces"
liqspcies_C02 = 5
for item in liqspices_list:
    df.loc[df.index.str.contains(item), 'category'] = liqspices_cat
    df.loc[df.index.str.contains(item), 'C02_per_kilo'] = liqspcies_C02
df.groupby(['category']).size()

category
sauces      347
spices      490
unknown    3985
dtype: int64

## green spices (herbs)

In [7]:
greenspices_list = ["bay leaves", "cilantro", "ginger", "garlic", "herb seasoning", "herb", "kuttelkraut", "kÃ¼mmel", "kÃ¼mmelpulver", "leave", "leaves", "rosmary", "wacholderbeeren", "sage", "mint", "thyme", "herbs", "horseradish", "garland chrysanthemum", "gari", "garden cress", "garam masala", "rosemary", "dill", "coriander", "lavender", "cilantro", "chives", "cilantro", "oregano", "celery", "cilantro", "chard", "epazote", "lavender", "basil"]
greenspices_cat ="greenspices"
greenspices_C02 = 0.3
for item in greenspices_list:
        df.loc[df.index.str.contains(item), 'category'] = greenspices_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = greenspices_C02 
df.groupby(['category']).size()

category
greenspices     303
sauces          327
spices          446
unknown        3746
dtype: int64

## broth

In [39]:
broth_list = ["stock", "broth", "bouillon", "fond", "granules", "base", "glace", "bone", "soup"]
broth_cat ="broth"
broth_C02 = 0.1
for item in broth_list:
        df.loc[df.index.str.contains(item), 'category'] = broth_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = broth_C02 
df.groupby(['category']).size()

category
Poultry_meat      12
beer              20
booze             24
broth            276
cheese           158
chicken           69
coconut           37
cow              133
eggs              51
fish             104
fruit             14
greenspices      285
juice             56
milk              33
noodles          120
pig              147
sauces           283
sausage           14
soft drinks       12
spices           364
sugar             36
turkey            36
unknown         2283
vegetables       208
wine              47
dtype: int64

## pig

In [9]:
pig_list=["pig", "bacon", "pork", "speck", "ham", "liverwurst", "liver pate", "schweinefleisch", "schinken", "pork", "salami"]
pig_cat ="pig"
pig_C02 = 45
for item in pig_list:
        df.loc[df.index.str.contains(item), 'category'] = pig_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = pig_C02 
df.groupby(['category']).size()

category
broth           216
greenspices     303
pig             177
sauces          323
spices          427
unknown        3376
dtype: int64

## Sausage

In [10]:
sausage_list=["frankfurters", "weisswurst", "bauernwurst", "bockwurst", "chorizo", "bratwurst"]
sausage_cat ="sausage"
sausage_C02 = 45
for item in sausage_list:
        df.loc[df.index.str.contains(item), 'category'] = sausage_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = sausage_C02 
df.groupby(['category']).size()

category
broth           216
greenspices     303
pig             177
sauces          322
sausage          15
spices          426
unknown        3363
dtype: int64

## cow

In [11]:
cow_list=["cow", "beef", "steak", "steak tips", "tri tip", "rindfleisch", "rindergehacktes", "veal", "Schnitzel", "chuck roast", "eye steak"]
cow_cat ="cow"
cow_C02 = 45
for item in cow_list:
        df.loc[df.index.str.contains(item), 'category'] = cow_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = cow_C02 
df.groupby(['category']).size()

category
broth           168
cow             185
greenspices     303
pig             174
sauces          320
sausage          15
spices          417
unknown        3240
dtype: int64

## chicken

In [12]:
chicken_list=["chicken"]
chicken_cat ="chicken"
chicken_C02 = 45
for item in chicken_list:
        df.loc[df.index.str.contains(item), 'category'] = chicken_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = chicken_C02 
df.groupby(['category']).size()

category
broth            85
chicken         161
cow             185
greenspices     303
pig             174
sauces          320
sausage          15
spices          408
unknown        3171
dtype: int64

## turkey

In [13]:
turkey_list=["turkey"]
turkey_cat ="turkey"
turkey_C02 = 45
for item in turkey_list:
        df.loc[df.index.str.contains(item), 'category'] = turkey_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = turkey_C02 
df.groupby(['category']).size()

category
broth            76
chicken         161
cow             185
greenspices     303
pig             172
sauces          317
sausage          15
spices          407
turkey           45
unknown        3141
dtype: int64

## eggs

In [37]:
eggs_list=["eggs", "egg"]
eggs_cat ="eggs"
eggs_C02 = 45
for item in eggs_list:
        df.loc[df.index.str.contains(item), 'category'] = eggs_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = eggs_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
beer              20
booze             24
broth             61
cheese           161
chicken          159
coconut           37
cow              181
eggs              51
fish             114
fruit             14
greenspices      289
juice             56
milk              33
noodles          120
pig              164
sauces           283
sausage           14
soft drinks       12
spices           371
sugar             36
turkey            45
unknown         2300
vegetables       212
wine              47
dtype: int64

## fish (SPLIT THIS!) (includes other sea animals)

In [15]:
fish_list=["Crustaceans", "shrimp", "prawn", "scampi", "lobster",
           "crab", "fish", "eel", "rockfish", "dogfish","mahimahi", 
           "whiting","bass", "cod", "english sole", "codfish", "catfish"]
fish_cat ="fish"
fish_C02 = 45
for item in fish_list:
        df.loc[df.index.str.contains(item), 'category'] = fish_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = fish_C02 
df.groupby(['category']).size()

category
broth            67
chicken         161
cow             183
eggs             15
fish            117
greenspices     302
pig             172
sauces          311
sausage          15
spices          400
turkey           45
unknown        3034
dtype: int64

## wine

In [16]:
wine_list=["wine", "riesling", "zinfandel", "rotwein", "wein", "cider"]
wine_cat ="wine"
wine_C02 = 45
for item in wine_list:
        df.loc[df.index.str.contains(item), 'category'] = wine_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = wine_C02 
df.groupby(['category']).size()

category
broth            67
chicken         161
cow             183
eggs             15
fish            117
greenspices     302
pig             171
sauces          301
sausage          15
spices          394
turkey           45
unknown        3004
wine             47
dtype: int64

## beer

In [17]:
beer_list=["beer", "pilsner", "wheat beer", "bier"," root beer", "yuengling beer"]
beer_cat ="beer"
beer_C02 = 10
for item in beer_list:
        df.loc[df.index.str.contains(item), 'category'] = beer_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = beer_C02 
df.groupby(['category']).size()

category
beer             20
broth            67
chicken         161
cow             183
eggs             15
fish            117
greenspices     301
pig             171
sauces          301
sausage          15
spices          393
turkey           45
unknown        2986
wine             47
dtype: int64

## booze

In [18]:
booze_list=["schnaps", "whiskey","jack daniels", "alcohol", "liquor", "whisky", "vodka", "vermouth", "tequila", "cognac", "brandy", "schnapps"]
booze_cat ="booze"
booze_C02 = 10
for item in booze_list:
        df.loc[df.index.str.contains(item), 'category'] = booze_cat
        df.loc[(df.index == 'rum'),'category']=booze_cat
        df.loc[(df.index == 'gin'),'category']=booze_cat        
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = booze_C02 
df.groupby(['category']).size()

category
beer             20
booze            24
broth            67
chicken         161
cow             183
eggs             15
fish            117
greenspices     301
pig             171
sauces          301
sausage          15
spices          393
turkey           45
unknown        2962
wine             47
dtype: int64

In [19]:
df[df["category"] == "booze"]

                      category  C02_per_kilo
ingredients
alcohol                  booze          10.0
apple brandy             booze          10.0
apple schnapps           booze          10.0
bourbon whiskey          booze          10.0
brandy                   booze          10.0
cognac                   booze          10.0
dry vermouth             booze          10.0
gin                      booze           0.0
gold tequila             booze          10.0
irish whiskey            booze          10.0
jack daniels             booze          10.0
jack daniels whiskey     booze          10.0
jameson irish whiskey    booze          10.0
liquor                   booze          10.0
rum                      booze           0.0
rye whiskey              booze          10.0
silver tequila           booze          10.0
sweet vermouth           booze          10.0
tequila                  booze          10.0
vermouth                 booze          10.0
vodka                    booze          10.0
whiskey                  booze          10.0
whisky                   booze          10.0
white vermouth           booze          10.0

## bread

In [20]:
bread_list=["bread", "bun", "bread rounds", "crumbs", "ciabatta", "baguette", "filo", "submarine"]
bread_cat ="bread"
bread_C02 = 5
for item in bread_list:
        df.loc[df.index.str.contains(item), 'category'] = bread_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = bread_C02 
df.groupby(['category']).size()

category
beer             20
booze            24
bread           121
broth            67
chicken         161
cow             183
eggs             15
fish            117
greenspices     296
pig             166
sauces          301
sausage          14
spices          388
turkey           45
unknown        2857
wine             47
dtype: int64

## noodles

In [66]:
noodles_list=["noodles","noodle", "pasta",  "fideos", "fedelini", "fettuche", "macaroni", "ramen"]
noodles_cat ="noodles"
noodles_C02 = 5
for item in noodles_list:
        df.loc[df.index.str.contains(item), 'category'] = noodles_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = noodles_C02 
df.groupby(['category']).size()

category
Poultry_meat      12
beer              19
booze             24
broth            243
cheese           146
chicken           59
coconut           26
cow              123
eggs              34
fish              96
fruit             11
greenspices      240
juice             55
milk              45
noodles          218
pig              141
rice              79
sauces           244
sausage           13
soft drinks       12
spices           489
sugar             35
turkey            35
unknown         1977
vegetables       409
wine              37
dtype: int64

## sugar

In [22]:
sugar_list=["sugar"]
sugar_cat ="sugar"
sugar_C02 = 3
for item in sugar_list:
        df.loc[df.index.str.contains(item), 'category'] = sugar_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = sugar_C02 
df.groupby(['category']).size()

category
beer             20
booze            24
broth            67
chicken         161
cow             183
eggs             15
fish            117
greenspices     296
noodles         121
pig             166
sauces          301
sausage          14
spices          387
sugar            37
turkey           45
unknown        2821
wine             47
dtype: int64

## poultry_meat (duck, goose)

In [23]:
poultry_meat_list=["duck", "goose"]
poultry_meat_cat ="Poultry_meat"
poultry_meat_C02 = 5.4
for item in poultry_meat_list:
        df.loc[df.index.str.contains(item), 'category'] = poultry_meat_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = poultry_meat_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
beer              20
booze             24
broth             61
chicken          161
cow              183
eggs              15
fish             117
greenspices      296
noodles          121
pig              166
sauces           300
sausage           14
spices           387
sugar             37
turkey            45
unknown         2810
wine              47
dtype: int64

## vegetables (MORE!)

In [63]:
vegetables_list=["carrots","beans", "onion", "pepper", "yucca","yuca","potatoes", "garden peas", "frisee", "fronds", "peas", "cucumber", "eggplant", "edamame", "edam", "flowers", "tomatoes", "zucchini","tomato"]
vegetables_cat ="vegetables"
vegetables_C02 = 1.6
for item in vegetables_list:
        df.loc[df.index.str.contains(item), 'category'] = vegetables_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = vegetables_C02
df.groupby(['category']).size()

category
Poultry_meat      12
beer              19
booze             24
broth            243
cheese           146
chicken           59
coconut           26
cow              125
eggs              35
fish              96
fruit             11
greenspices      241
juice             55
milk              45
noodles          159
pig              141
rice              88
sauces           250
sausage           13
soft drinks       12
spices           492
sugar             35
turkey            35
unknown         2012
vegetables       411
wine              37
dtype: int64

## fruits

In [25]:
fruit_list=["fruit"]
fruit_cat ="fruit"
fruit_C02 = 1.6
for item in fruit_list:
        df.loc[df.index.str.contains(item), 'category'] = fruit_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = fruit_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
beer              20
booze             24
broth             61
chicken          160
cow              182
eggs              15
fish             114
fruit             16
greenspices      291
noodles          120
pig              165
sauces           289
sausage           14
spices           382
sugar             37
turkey            45
unknown         2676
vegetables       146
wine              47
dtype: int64

## coconut

In [34]:
coconut_list=["coconut"]
coconut_cat ="coconut"
coconut_C02 = 1.6
for item in coconut_list:
        df.loc[df.index.str.contains(item), 'category'] = coconut_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = coconut_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
beer              20
booze             24
broth             61
cheese           163
chicken          160
coconut           37
cow              181
eggs              15
fish             114
fruit             14
greenspices      289
juice             56
milk              33
noodles          120
pig              164
sauces           283
sausage           14
soft drinks       12
spices           371
sugar             36
turkey            45
unknown         2335
vegetables       210
wine              47
dtype: int64

## soft drinks

In [26]:
soft_drinks_list=["coke", "cola", "club soda", "mineral water", "carbonated water"]
soft_drinks_cat ="soft drinks"
soft_drinks_C02 = 1.72
for item in soft_drinks_list:
        df.loc[df.index.str.contains(item), 'category'] = soft_drinks_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = soft_drinks_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
beer              20
booze             24
broth             61
chicken          160
cow              182
eggs              15
fish             114
fruit             16
greenspices      291
noodles          120
pig              165
sauces           289
sausage           14
soft drinks       12
spices           382
sugar             37
turkey            45
unknown         2664
vegetables       146
wine              47
dtype: int64

In [27]:
df[df["category"] == "soft drinks"]

                                category  C02_per_kilo
ingredients
bittersweet chocolate        soft drinks          1.72
bittersweet chocolate chips  soft drinks          1.72
carbonated water             soft drinks          1.72
cherry coke                  soft drinks          1.72
club soda                    soft drinks          1.72
cocacola                     soft drinks          1.72
coke                         soft drinks          1.72
cola                         soft drinks          1.72
dark chocolate               soft drinks          1.72
mineral water                soft drinks          1.72
rucola                       soft drinks          1.72
semisweet chocolate          soft drinks          1.72

## juice

In [28]:
juice_list=["juice", "zitronensaft", "cocktail"]
juice_cat ="juice"
juice_C02 = 1.72
for item in juice_list:
        df.loc[df.index.str.contains(item), 'category'] = juice_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = juice_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
beer              20
booze             24
broth             61
chicken          160
cow              182
eggs              15
fish             114
fruit             14
greenspices      290
juice             60
noodles          120
pig              165
sauces           288
sausage           14
soft drinks       12
spices           382
sugar             37
turkey            45
unknown         2611
vegetables       143
wine              47
dtype: int64

## milk

In [55]:
#half and half
milk_list=["milk", "yogurt"]
milk_cat ="milk"
milk_C02 = 1.72
for item in milk_list:
        df.loc[df.index.str.contains(item), 'category'] = milk_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = milk_C02 
df.groupby(['category']).size()

category
Poultry_meat      12
beer              20
booze             24
broth            269
cheese           153
chicken           67
coconut           26
cow              133
eggs              35
fish             104
fruit             14
greenspices      285
juice             56
milk              49
noodles          167
pig              147
rice              97
sauces           276
sausage           14
soft drinks       12
spices           352
sugar             36
turkey            36
unknown         2140
vegetables       255
wine              43
dtype: int64

## cheese

In [67]:
cheese_list=["cheese", "cheddar", "chedar"]
cheese_cat ="cheese"
cheese_C02 = 1.72
for item in cheese_list:
        df.loc[df.index.str.contains(item), 'category'] = cheese_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = cheese_C02 
df.groupby(['category']).size()

category
Poultry_meat      12
beer              19
booze             24
broth            240
cheese           168
chicken           59
coconut           26
cow              123
eggs              32
fish              96
fruit             11
greenspices      240
juice             55
milk              41
noodles          216
pig              141
rice              79
sauces           243
sausage           13
soft drinks       12
spices           485
sugar             35
turkey            35
unknown         1975
vegetables       405
wine              37
dtype: int64

## rice

In [47]:
rice_list=["rice"]
rice_cat ="rice"
rice_C02 = 1.72
for item in rice_list:
        df.loc[df.index.str.contains(item), 'category'] = rice_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = rice_C02 
df.groupby(['category']).size()

category
Poultry_meat      12
beer              20
booze             24
broth            273
cheese           157
chicken           67
coconut           37
cow              133
eggs              44
fish             104
fruit             14
greenspices      285
juice             56
milk              32
noodles          169
pig              147
rice              98
sauces           276
sausage           14
soft drinks       12
spices           355
sugar             36
turkey            36
unknown         2172
vegetables       206
wine              43
dtype: int64

## mayonnaise, cream, mzarella

In [78]:
mayonnaise_list=["mayonnaise", "cream", "mzarella", "mayonnais"]
mayonnaise_cat ="mayonnaise"
mayonnaise_C02 = 1.72
for item in mayonnaise_list:
        df.loc[df.index.str.contains(item), 'category'] = mayonnaise_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = mayonnaise_C02 
df.groupby(['category']).size()

category
Poultry_meat      12
beer              19
booze             24
broth            224
cheese           149
chicken           59
coconut           25
cow              123
eggs              32
fish              96
fruit             11
greenspices      238
juice             54
mayonnaise       109
milk              39
noodles          215
pig              141
rice              79
sauces           240
sausage           13
soft drinks       12
spices           479
sugar             35
turkey            35
unknown         1917
vegetables       405
wine              37
dtype: int64

In [80]:
df[df["category"] == "unknown"].tail(15)

                     category  C02_per_kilo
ingredients
yeast extract         unknown           0.0
yellow corn           unknown           0.0
yellow cornmeal       unknown           0.0
yellow lentils        unknown           0.0
yellow squash         unknown           0.0
yellow summer squash  unknown           0.0
yellowtail            unknown           0.0
yolk                  unknown           0.0
yoplait               unknown           0.0
yukon gold            unknown           0.0
yuzu                  unknown           0.0
yuzukosho             unknown           0.0
zaatar                unknown           0.0
zest                  unknown           0.0
ziti                  unknown           0.0

# HARD INPUT (ALWAYS LAST!)