In [1]:
import matplotlib
%matplotlib inline
import numpy as np
import pandas as pd

# Notes
- don't forget to use the C02 for direct ones
- almost all values missing 
- hard replacement at the end!

In [2]:
df = pd.read_csv('../raw_data/ingredients.csv')

In [3]:
df['category'] = "unknown"
df['C02_per_kilo'] = 0.404
df.set_index('ingredients',inplace=True)

In [4]:
df

                  category  C02_per_kilo
ingredients
tomato sauce       unknown         0.404
tomato paste       unknown         0.404
american cheese    unknown         0.404
beef broth         unknown         0.404
chicken broth      unknown         0.404
...                    ...           ...
ziti               unknown         0.404
zitronensaft       unknown         0.404
zucchini           unknown         0.404
zucchini blossoms  unknown         0.404
zucchini noodles   unknown         0.404

[4822 rows x 2 columns]

df.loc[(df.index == 'ziti'),'category']='alcohol'
df.loc[(df.index == 'ziti'),'C02_per_kilo']='2.1'

# CODE BLUEPRINT

df.loc[(df.index == 'ziti'),'category']='alcohol'
df.loc[(df.index == 'ziti'),'C02_per_kilo']='2.1'

df.loc[df.index.str.contains('beef'), 'category'] = 'beef'
df.loc[df.index.str.contains('beef'), 'C02_per_kilo'] = '0.2'

for spice in testlistspices:
    df.loc[df.index.str.contains(spice), 'category'] = 'spices'
    df.loc[df.index.str.contains(spice), 'C02_per_kilo'] = '0.3'

In [5]:
other_cat = "other"
otherdrinks_cat= "other_drinks"

# Spreaders - Data Input

## Animals

### fats

In [6]:
fats_list=["fats", "offals"]
fats_cat ="fats"
fats_C02 = 40
for item in fats_list:
        df.loc[df.index.str.contains(item), 'category'] = fats_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = fats_C02 
df.groupby(['category']).size()

category
fats          2
unknown    4820
dtype: int64

### lamb

In [7]:
lamb_list=["lamb", "mutton", "goat"]
lamb_cat ="lamb"
lamb_C02 =  45 #39.2 # conflict 64
for item in lamb_list:
        df.loc[df.index.str.contains(item), 'category'] = lamb_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = lamb_C02 
df.groupby(['category']).size()

category
fats          2
lamb         43
unknown    4777
dtype: int64

### pig

In [8]:
pig_list=["pig", "bacon", "pepperoni","pork", "speck", "liverwurst", "liver pate", "schweinefleisch", "schinken", "pork", "salami"]
pig_cat ="pig"
pig_C02 = 12.1
for item in pig_list:
        df.loc[df.index.str.contains(item), 'category'] = pig_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = pig_C02 
df.groupby(['category']).size()

category
fats          2
lamb         43
pig         126
unknown    4651
dtype: int64

### Sausage

In [9]:
sausage_list=["frankfurters", "weisswurst", "ham", "bauernwurst", "bockwurst", "chorizo", "bratwurst"]
sausage_cat ="sausage"
sausage_C02 = 9.34
for item in sausage_list:
        df.loc[df.index.str.contains(item), 'category'] = sausage_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = sausage_C02 
df.groupby(['category']).size()

category
fats          2
lamb         43
pig         125
sausage      70
unknown    4582
dtype: int64

### cow

In [10]:
cow_list=["cow", "beef", "tbone","steak", "steak tips", "tri tip", "rindfleisch", "rindergehacktes", "veal", "schnitzel", "chuck roast", "eye steak"]
cow_cat ="cow"
cow_C02 = 55 #45 #conflict 68
for item in cow_list:
        df.loc[df.index.str.contains(item), 'category'] = cow_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = cow_C02 
df.groupby(['category']).size()

category
cow         187
fats          2
lamb         41
pig         122
sausage      69
unknown    4401
dtype: int64

### chicken

In [11]:
chicken_list=["chicken"]
chicken_cat ="chicken"
chicken_C02 = 4.5
for item in chicken_list:
        df.loc[df.index.str.contains(item), 'category'] = chicken_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = chicken_C02 
df.groupby(['category']).size()

category
chicken     161
cow         187
fats          2
lamb         41
pig         122
sausage      69
unknown    4240
dtype: int64

### turkey

In [12]:
turkey_list=["turkey"]
turkey_cat ="turkey"
turkey_C02 = 6.5
for item in turkey_list:
        df.loc[df.index.str.contains(item), 'category'] = turkey_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = turkey_C02 
df.groupby(['category']).size()

category
chicken     161
cow         187
fats          2
lamb         41
pig         121
sausage      68
turkey       45
unknown    4197
dtype: int64

### fish (SPLIT THIS!) (includes other sea animals)

In [13]:
fish_list=["pelagic", "marine", "freshwater","Crustaceans", "shrimp", "prawn", "scampi", "lobster",
           "crab", "fish", "eel", "rockfish", "dogfish","mahimahi", "mahi mahi"
           "whiting","bass", "cod", "english sole", "codfish", "catfish", "tuna", "snapper", "salmon"]
fish_cat ="fish"
fish_C02 = 5.4
for item in fish_list:
        df.loc[df.index.str.contains(item), 'category'] = fish_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = fish_C02 
df.groupby(['category']).size()

category
chicken     161
cow         181
fats          2
fish        143
lamb         41
pig         121
sausage      68
turkey       45
unknown    4060
dtype: int64

### poultry_meat (duck, goose)

In [14]:
poultry_meat_list=["duck", "goose"]
poultry_meat_cat ="Poultry_meat"
poultry_meat_C02 = 5.4
for item in poultry_meat_list:
        df.loc[df.index.str.contains(item), 'category'] = poultry_meat_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = poultry_meat_C02 
df.groupby(['category']).size()

category
Poultry_meat      18
chicken          161
cow              181
fats               2
fish             143
lamb              41
pig              121
sausage           68
turkey            45
unknown         4042
dtype: int64

### other animals (wild etc.)

In [15]:
other_animals_list=["rehfleisch", "reindeer", "boar", "rabbit", "meatballs"]
other_animals_cat ="other_animals"
other_animals_C02 = 30.5
for item in other_animals_list:
        df.loc[df.index.str.contains(item), 'category'] = other_animals_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = other_animals_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
chicken           161
cow               180
fats                2
fish              143
lamb               41
other_animals      17
pig               121
sausage            68
turkey             41
unknown          4030
dtype: int64

## Animal Products (vegetarian)

### eggs

In [16]:
eggs_list=["eggs", "egg",  "yolk", "egg white", "egg wash"]
eggs_cat ="eggs"
eggs_C02 = 3.8 #4.8 # conflict 2.8
for item in eggs_list:
        df.loc[df.index.str.contains(item), 'category'] = eggs_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = eggs_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
chicken           160
cow               180
eggs               52
fats                2
fish              143
lamb               41
other_animals      17
pig               121
sausage            68
turkey             41
unknown          3979
dtype: int64

### milk

In [17]:
#half and half
milk_list=["milk", "yogurt", "dressing"]
milk_cat ="milk"
milk_C02 = 1.9
for item in milk_list:
        df.loc[df.index.str.contains(item), 'category'] = milk_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = milk_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
chicken           160
cow               180
eggs               52
fats                2
fish              143
lamb               41
milk               83
other_animals      17
pig               120
sausage            68
turkey             41
unknown          3897
dtype: int64

In [18]:
df.loc[df.index.str.contains("butter"), 'category'] = milk_cat      
df.loc[df.index.str.contains("butter"), 'C02_per_kilo'] = 1.17

### cheese

In [19]:
cheese_list=["cheese", "cheddar", "chedar", "colby"]
cheese_cat ="cheese"
cheese_C02 = 11.3 #13.5 #9.82
for item in cheese_list:
        df.loc[df.index.str.contains(item), 'category'] = cheese_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = cheese_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            169
chicken           160
cow               179
eggs               50
fats                2
fish              142
lamb               35
milk              127
other_animals      17
pig               120
sausage            68
turkey             41
unknown          3694
dtype: int64

### mayonnaise, cream, mzarella

In [20]:
mayonnaise_list=["mayonnaise", "cream", "mzarella", "mayonnais"]
mayonnaise_cat ="mayonnaise"
mayonnaise_C02 = 2.4 # for cream
for item in mayonnaise_list:
        df.loc[df.index.str.contains(item), 'category'] = mayonnaise_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = mayonnaise_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            150
chicken           155
cow               179
eggs               50
fats                2
fish              141
lamb               35
mayonnaise        109
milk              118
other_animals      17
pig               120
sausage            68
turkey             41
unknown          3619
dtype: int64

## VEGAN (Typical like Tofu)

### vegan : TOFU and related products

In [21]:
vegan_list=["tofu"]
vegan_cat ="vegan"
vegan_C02 = 2.0
for item in vegan_list:
        df.loc[df.index.str.contains(item), 'category'] = vegan_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = vegan_C02
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            150
chicken           155
cow               179
eggs               50
fats                2
fish              141
lamb               35
mayonnaise        108
milk              118
other_animals      17
pig               119
sausage            68
turkey             41
unknown          3606
vegan              15
dtype: int64

### vegetables (MORE!)

In [22]:
vegetables_list=["artichoke", "carrots","beans", "onion",  
                 "yucca","yuca","potatoes",  "potatoe",
                 "frisee", "fronds", "peas", "cucumber", "eggplant", "zucchini","pickle",
                 "edamame", "edam", "flowers", "tomatoes", "zucchini","tomato", "paprika", "spinach", "radish", "sprouts"]
vegetables_cat ="vegetables"
vegetables_C02 = 1.6
for item in vegetables_list:
        df.loc[df.index.str.contains(item), 'category'] = vegetables_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = vegetables_C02

In [23]:
df.loc[df.index.str.contains("tomato"), 'category'] = vegetables_cat      
df.loc[df.index.str.contains("tomato"), 'C02_per_kilo'] = 1.1
df.loc[df.index.str.contains("beans"), 'category'] = vegetables_cat      
df.loc[df.index.str.contains("beans"), 'C02_per_kilo'] = 2

### fruits

In [24]:
fruit_list=["fruit", "lemon", "lime", "orange","grapes","apple", "citrus","melon", "pears", "banana","mango", "apricots", "cherry", "berries"]
fruit_cat ="fruit"
fruit_C02 = 0.9
for item in fruit_list:
        df.loc[df.index.str.contains(item), 'category'] = fruit_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = fruit_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            149
chicken           154
cow               178
eggs               40
fats                2
fish              129
fruit             212
lamb               35
mayonnaise        104
milk              113
other_animals      17
pig               116
sausage            67
turkey             41
unknown          3054
vegan              15
vegetables        378
dtype: int64

### coconut

In [25]:
coconut_list=["coconut"]
coconut_cat ="coconut"
coconut_C02 = 1.9# 2.1 # conflict 1.6
for item in coconut_list:
        df.loc[df.index.str.contains(item), 'category'] = coconut_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = coconut_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            149
chicken           154
coconut            37
cow               178
eggs               40
fats                2
fish              129
fruit             212
lamb               35
mayonnaise        103
milk              102
other_animals      17
pig               116
sausage            67
turkey             41
unknown          3029
vegan              15
vegetables        378
dtype: int64

### mushrooms

In [26]:
mushrooms_list=["enokitake", "mushrooms","mushroom", "yeast"]
mushrooms_cat ="mushrooms"
mushrooms_C02 = 1.72
for item in mushrooms_list:
        df.loc[df.index.str.contains(item), 'category'] = mushrooms_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = mushrooms_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            149
chicken           154
coconut            37
cow               178
eggs               40
fats                2
fish              129
fruit             212
lamb               35
mayonnaise         96
milk              102
mushrooms          59
other_animals      17
pig               116
sausage            67
turkey             41
unknown          2977
vegan              15
vegetables        378
dtype: int64

### rice

In [27]:
rice_list=["rice"]
rice_cat ="rice"
rice_C02 = 2.7
for item in rice_list:
        df.loc[df.index.str.contains(item), 'category'] = rice_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = rice_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            149
chicken           151
coconut            37
cow               178
eggs               40
fats                2
fish              129
fruit             212
lamb               35
mayonnaise         96
milk              101
mushrooms          59
other_animals      17
pig               116
rice               98
sausage            67
turkey             41
unknown          2883
vegan              15
vegetables        378
dtype: int64

### starchy roots

In [28]:
staro_list=["parsnips", "turnips", "jicama"]
staro_cat ="starchy roots"
staro_C02 = 0.4
for item in staro_list:
        df.loc[df.index.str.contains(item), 'category'] = staro_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = staro_C02 
df.groupby(['category']).size()

category
Poultry_meat       18
cheese            149
chicken           151
coconut            37
cow               178
eggs               40
fats                2
fish              129
fruit             212
lamb               35
mayonnaise         96
milk              101
mushrooms          59
other_animals      17
pig               116
rice               98
sausage            67
starchy roots       5
turkey             41
unknown          2878
vegan              15
vegetables        378
dtype: int64

### aquatic plants

In [29]:
aquaplants_list=["seaweed", "weed", "seagrass"]
aquaplants_cat ="aquatic plants"
aquaplants_C02 = 0.01
for item in aquaplants_list:
        df.loc[df.index.str.contains(item), 'category'] = aquaplants_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = aquaplants_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
cheese             149
chicken            151
coconut             37
cow                178
eggs                40
fats                 2
fish               129
fruit              212
lamb                35
mayonnaise          96
milk               101
mushrooms           59
other_animals       17
pig                116
rice                98
sausage             67
starchy roots        5
turkey              41
unknown           2874
vegan               15
vegetables         378
dtype: int64

## flour based products

In [30]:
df.loc[df.index.str.contains('wheat'), 'category'] = other_cat 
df.loc[df.index.str.contains('wheat'), 'C02_per_kilo'] = 1

### bread

In [31]:
bread_list=["pie","bread", "crusts", "buns", "bread rounds", "crumbs", "ciabatta", "baguette", "filo", "submarine", "croutons", "waffle"]
bread_cat ="bread"
bread_C02 = 0.8
for item in bread_list:
        df.loc[df.index.str.contains(item), 'category'] = bread_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = bread_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              156
cheese             148
chicken            148
coconut             37
cow                178
eggs                39
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          95
milk               101
mushrooms           58
other               43
other_animals       17
pig                115
rice                97
sausage             61
starchy roots        5
turkey              41
unknown           2697
vegan               15
vegetables         375
dtype: int64

### noodles

In [32]:
noodles_list=["noodles","noodle", "spaghetti", "pasta",  "fideos", "fedelini", "fettuche", "macaroni", "ramen", "penne", "macaroni"]
noodles_cat ="noodles"
noodles_C02 = 1.24 
for item in noodles_list:
        df.loc[df.index.str.contains(item), 'category'] = noodles_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = noodles_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              156
cheese             146
chicken            147
coconut             37
cow                176
eggs                32
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          95
milk               101
mushrooms           58
noodles            118
other               29
other_animals       17
pig                115
rice                88
sausage             61
starchy roots        5
turkey              41
unknown           2616
vegan               15
vegetables         373
dtype: int64

## other incredients (nuts, sugar)

### sugar

In [33]:
sugar_list=["sugar"]
sugar_cat ="sugar"
sugar_C02 = 3.5
for item in sugar_list:
        df.loc[df.index.str.contains(item), 'category'] = sugar_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = sugar_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              156
cheese             146
chicken            147
coconut             36
cow                176
eggs                32
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          95
milk               101
mushrooms           58
noodles            118
other               29
other_animals       17
pig                115
rice                88
sausage             61
starchy roots        5
sugar               37
turkey              41
unknown           2580
vegan               15
vegetables         373
dtype: int64

### corn

In [34]:
corn_list=["corn"]
corn_cat ="corn"
corn_C02 = 3
for item in corn_list:
        df.loc[df.index.str.contains(item), 'category'] = corn_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = corn_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              149
cheese             146
chicken            146
coconut             36
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          94
milk               101
mushrooms           58
noodles            118
other               29
other_animals       17
pig                115
rice                88
sausage             61
starchy roots        5
sugar               37
turkey              41
unknown           2516
vegan               15
vegetables         373
dtype: int64

### nuts

In [35]:
nuts_list=["nuts", "cashew", "peanut", "pecans", "hazelnuts","pistachios", "walnut", "almonds"]
nuts_cat ="nuts"
nuts_C02 = 2.0
for item in nuts_list:
        df.loc[df.index.str.contains(item), 'category'] = nuts_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = nuts_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              148
cheese             146
chicken            146
coconut             36
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               29
other_animals       17
pig                115
rice                88
sausage             61
starchy roots        5
sugar               37
turkey              41
unknown           2445
vegan               15
vegetables         373
dtype: int64

### seeds

In [36]:
seeds_list=["seeds"]
seeds_cat ="seeds"
seeds_C02 = 4
for item in seeds_list:
        df.loc[df.index.str.contains(item), 'category'] = seeds_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = seeds_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              147
cheese             146
chicken            146
coconut             36
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               29
other_animals       17
pig                115
rice                88
sausage             61
seeds               32
starchy roots        5
sugar               37
turkey              41
unknown           2415
vegan               15
vegetables         372
dtype: int64

In [37]:
### pulses

In [38]:
pulses_list= ["pulses", "legumes", "alfalfa", "clover", "lupins", "mesquite", "carob", "tamarind"]
pulses_cat ="pulses"
pulses_C02 = 3.5
for item in pulses_list:
        df.loc[df.index.str.contains(item), 'category'] = pulses_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = pulses_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              147
cheese             146
chicken            146
coconut             36
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              210
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               29
other_animals       17
pig                115
pulses              10
rice                88
sausage             61
seeds               32
starchy roots        5
sugar               37
turkey              41
unknown           2406
vegan               15
vegetables         371
dtype: int64

## drinks

### soft drinks

In [39]:
soft_drinks_list=["coke", "cola", "club soda", "mineral water", "carbonated water", "sprite"]
soft_drinks_cat ="soft drinks"
soft_drinks_C02 = 1.72
for item in soft_drinks_list:
        df.loc[df.index.str.contains(item), 'category'] = soft_drinks_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = soft_drinks_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              147
cheese             146
chicken            146
coconut             36
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              209
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               29
other_animals       17
pig                115
pulses              10
rice                88
sausage             61
seeds               32
soft drinks         13
starchy roots        5
sugar               37
turkey              41
unknown           2394
vegan               15
vegetables         371
dtype: int64

### juice

In [40]:
juice_list=["juice", "zitronensaft", "cocktail", "nectar"]
juice_cat ="juice"
juice_C02 = 1.72
for item in juice_list:
        df.loc[df.index.str.contains(item), 'category'] = juice_cat      
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = juice_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              147
cheese             146
chicken            146
coconut             34
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              178
juice               67
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               29
other_animals       17
pig                115
pulses               9
rice                88
sausage             61
seeds               32
soft drinks         13
starchy roots        5
sugar               37
turkey              41
unknown           2366
vegan               15
vegetables         366
dtype: int64

### wine

In [41]:
wine_list=["wine", "riesling", "zinfandel", "rotwein", "wein", "cider"]
wine_cat ="wine"
wine_C02 = 1
for item in wine_list:
        df.loc[df.index.str.contains(item), 'category'] = wine_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = wine_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
bread              147
cheese             146
chicken            146
coconut             34
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              176
juice               67
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               29
other_animals       17
pig                114
pulses               9
rice                84
sausage             61
seeds               32
soft drinks         13
starchy roots        5
sugar               37
turkey              41
unknown           2326
vegan               15
vegetables         366
wine                47
dtype: int64

### beer

In [42]:
beer_list=["beer", "pilsner", "bier"," root beer", "yuengling beer", "lager"]
beer_cat ="beer"
beer_C02 = 3.8
for item in beer_list:
        df.loc[df.index.str.contains(item), 'category'] = beer_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = beer_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
beer                23
bread              147
cheese             146
chicken            146
coconut             34
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              176
juice               67
lamb                35
mayonnaise          90
milk                92
mushrooms           58
noodles            118
nuts                85
other               28
other_animals       17
pig                114
pulses               9
rice                84
sausage             61
seeds               32
soft drinks         13
starchy roots        5
sugar               37
turkey              41
unknown           2304
vegan               15
vegetables         366
wine                47
dtype: int64

### booze

In [43]:
booze_list=["liqueur","schnaps", "whiskey","jack daniels", "alcohol", "liquor", "whisky", "vodka", "vermouth", "tequila", "cognac", "brandy", "schnapps"]
booze_cat ="booze"
booze_C02 = 3# 2.7 #value for whiskey # conflict 3.5
for item in booze_list:
        df.loc[df.index.str.contains(item), 'category'] = booze_cat
        df.loc[(df.index == 'rum'),'category']=booze_cat
        df.loc[(df.index == 'rum'),'C02_per_kilo']=booze_C02 
        df.loc[(df.index == 'gin'),'category']=booze_cat      
        df.loc[(df.index == 'gin'),'C02_per_kilo']=booze_C02 
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = booze_C02 
df.groupby(['category']).size()

category
Poultry_meat        18
aquatic plants       4
beer                23
booze               28
bread              147
cheese             146
chicken            146
coconut             34
corn                75
cow                174
eggs                32
fats                 2
fish               127
fruit              173
juice               67
lamb                35
mayonnaise          89
milk                92
mushrooms           58
noodles            118
nuts                85
other               28
other_animals       17
pig                114
pulses               9
rice                84
sausage             61
seeds               32
soft drinks         13
starchy roots        5
sugar               37
turkey              41
unknown           2280
vegan               15
vegetables         366
wine                47
dtype: int64

In [44]:
df[df["category"] == "booze"]

                      category  C02_per_kilo
ingredients
alcohol                  booze           3.0
anise liqueur            booze           3.0
apple brandy             booze           3.0
apple schnapps           booze           3.0
bourbon whiskey          booze           3.0
brandy                   booze           3.0
cognac                   booze           3.0
dry vermouth             booze           3.0
gin                      booze           3.0
gold tequila             booze           3.0
irish cream liqueur      booze           3.0
irish whiskey            booze           3.0
jack daniels             booze           3.0
jack daniels whiskey     booze           3.0
jameson irish whiskey    booze           3.0
liqueur                  booze           3.0
liquor                   booze           3.0
orange liqueur           booze           3.0
rum                      booze           3.0
rye whiskey              booze           3.0
silver tequila           booze           3.0
sweet vermouth           booze           3.0
tequila                  booze           3.0
vermouth                 booze           3.0
vodka                    booze           3.0
whiskey                  booze           3.0
whisky                   booze           3.0
white vermouth           booze           3.0

# Breakers (like sauce, broth that replaces previous things -> chicken broth then is broth not chicken)

## broth

In [45]:
broth_list = ["stock", "broth", "bouillon", "fond", "granules", "base", "glace", "bone", "soup"]
broth_cat ="broth"
broth_C02 = 0.5
for item in broth_list:
        df.loc[df.index.str.contains(item), 'category'] = broth_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = broth_C02 
df.groupby(['category']).size()

category
Poultry_meat        12
aquatic plants       4
beer                23
booze               28
bread              147
broth              276
cheese             143
chicken             63
coconut             34
corn                75
cow                126
eggs                32
fats                 2
fish               118
fruit              173
juice               67
lamb                29
mayonnaise          80
milk                88
mushrooms           45
noodles            116
nuts                85
other               28
other_animals       17
pig                104
pulses               9
rice                83
sausage             54
seeds               32
soft drinks         13
starchy roots        5
sugar               37
turkey              32
unknown           2226
vegan               15
vegetables         354
wine                47
dtype: int64

## spices

In [46]:
spices_list = ["powder", "pimenton","spices", "spice", "cayenne pepper", "cayenne", "allspice", "miso","cinnamon", "seasoning", "star anise", "purpose seasoning", "allpurpose rub", "baobab fruit powder", "seasoning", "cayenne", "msg", "pfeffer", "schwarzpfeffer", "salt", "mix", "adobo allpurpose ing", "ing", "wasabi", "cinnamon", "gluten", "ginger", "gelatin", "shoots", "five spice", "chili", "chiffonade", "cardamon", "allspice", "anis"]
spices_cat ="spices"
spcies_C02 = 1.6
for item in spices_list:
        df.loc[df.index.str.contains(item), 'category'] = spices_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = spcies_C02
df.groupby(['category']).size()

category
Poultry_meat        12
aquatic plants       4
beer                22
booze               27
bread              135
broth              253
cheese             140
chicken             56
coconut             33
corn                70
cow                117
eggs                32
fats                 2
fish               111
fruit              160
juice               66
lamb                28
mayonnaise          73
milk                56
mushrooms           42
noodles            113
nuts                68
other               26
other_animals       17
pig                100
pulses               9
rice                74
sausage             53
seeds               32
soft drinks         13
spices             535
starchy roots        5
sugar               36
turkey              31
unknown           1881
vegan               15
vegetables         334
wine                41
dtype: int64

## green spices (herbs)

In [47]:
greenspices_list = ["parsley","nasturtium","tatsoi","bay leaves", "leaf","cilantro", "ginger", "garlic", "herb seasoning", "herb", "kuttelkraut", "kÃƒÂ¼mmel", "kÃƒÂ¼mmelpulver", "leave", "leaves", "rosmary", "wacholderbeeren", "sage", "mint", "thyme", "herbs", "horseradish", "garland chrysanthemum", "gari", "garden cress", "garam masala", "rosemary", "dill", "coriander", "lavender", "cilantro", "chives", "cilantro", "oregano", "celery", "cilantro", "chard", "epazote", "lavender", "basil"]
greenspices_cat ="greenspices"
greenspices_C02 = 1.6
for item in greenspices_list:
        df.loc[df.index.str.contains(item), 'category'] = greenspices_cat
        df.loc[df.index.str.contains(item), 'C02_per_kilo'] = greenspices_C02 
df.groupby(['category']).size()

category
Poultry_meat        12
aquatic plants       2
beer                21
booze               27
bread              132
broth              250
cheese             139
chicken             56
coconut             33
corn                70
cow                117
eggs                32
fats                 2
fish               111
fruit              154
greenspices        330
juice               66
lamb                28
mayonnaise          73
milk                54
mushrooms           42
noodles            112
nuts                68
other               26
other_animals       17
pig                100
pulses               9
rice                74
sausage             53
seeds               31
soft drinks         13
spices             484
starchy roots        5
sugar               36
turkey              31
unknown           1646
vegan               14
vegetables         311
wine                41
dtype: int64

## liquid spices

In [48]:
liqspices_list = ["marinade","sauce", "sake","soy sauce", "soy",  "vinegar", "fish sauce", "pesto", "salsa", "chipotle", "doubanjiang", "chimichurri", "catsup", "paste", "mustard", "honey"]
liqspices_cat ="sauces"
liqspcies_C02 = 1.6 # spices average, also tomato paste 
for item in liqspices_list:
    df.loc[df.index.str.contains(item), 'category'] = liqspices_cat
    df.loc[df.index.str.contains(item), 'C02_per_kilo'] = liqspcies_C02
df.groupby(['category']).size()

category
Poultry_meat        11
aquatic plants       2
beer                21
booze               27
bread              132
broth              250
cheese             137
chicken             56
coconut             32
corn                68
cow                115
eggs                32
fats                 2
fish               105
fruit              145
greenspices        309
juice               65
lamb                28
mayonnaise          70
milk                51
mushrooms           39
noodles            105
nuts                67
other               25
other_animals       17
pig                100
pulses               7
rice                67
sauces             354
sausage             48
seeds               27
soft drinks         13
spices             464
starchy roots        5
sugar               36
turkey              28
unknown           1419
vegan               14
vegetables         298
wine                31
dtype: int64

## flour/meal

In [49]:
flour_list = ["flour", "meal"]
flour_cat ="flour"
flour_C02 = 0.5
for item in flour_list:
    df.loc[df.index.str.contains(item), 'category'] = flour_cat
    df.loc[df.index.str.contains(item), 'C02_per_kilo'] = flour_C02

## oils

In [50]:
oil_list = ["oil"]
oil_cat ="oil"
oil_C02 = 2
for item in oil_list:
    df.loc[df.index.str.contains(item), 'category'] = oil_cat
    df.loc[df.index.str.contains(item), 'C02_per_kilo'] = oil_C02

# HARD INPUT (ALWAYS LAST!)

In [51]:
# milk 
df.loc[(df.index == 'yogurt'),'category']=milk_cat     
df.loc[(df.index == 'yogurt'),'C02_per_kilo']=1.5

df.loc[(df.index == 'half and half'),'category']=milk_cat     
df.loc[(df.index == 'half and half'),'C02_per_kilo']=2

df.loc[(df.index == 'powdered milk'),'category']=milk_cat     
df.loc[(df.index == 'powdered milk'),'C02_per_kilo']=9.71

df.loc[(df.index == 'ghee'),'category']=milk_cat     
df.loc[(df.index == 'ghee'),'C02_per_kilo']=1.8

# meat
df.loc[(df.index == 'tbone steak'),'category']=cow_cat      
df.loc[(df.index == 'tbone steak'),'C02_per_kilo']=cow_C02 
df.loc[(df.index == 'schweinefleisch'),'category']=pig_cat      
df.loc[(df.index == 'schweinefleisch'),'C02_per_kilo']=pig_C02

In [52]:
##fishes
df.loc[df.index.str.contains("bass"), 'category'] = fish_cat      
df.loc[df.index.str.contains("bass"), 'C02_per_kilo'] = 10.40

df.loc[(df.index == 'salmon'),'category']=fish_cat     
df.loc[(df.index == 'salmon'),'C02_per_kilo']=5

df.loc[(df.index == 'tuna'),'category']=fish_cat      
df.loc[(df.index == 'tuna'),'C02_per_kilo']=3.5

df.loc[(df.index == 'artic char'),'category']=fish_cat      
df.loc[(df.index == 'artic char'),'C02_per_kilo']=18.39

df.loc[(df.index == 'oysters'),'category']=fish_cat      
df.loc[(df.index == 'oysters'),'C02_per_kilo']=11.41

df.loc[(df.index == 'tilapia'),'category']=fish_cat      
df.loc[(df.index == 'tilapia'),'C02_per_kilo']=5.3

df.loc[(df.index == 'carb'),'category']=fish_cat      
df.loc[(df.index == 'carb'),'C02_per_kilo']=5.3

df.loc[(df.index == 'shrimp'),'category']=fish_cat      
df.loc[(df.index == 'shrimp'),'C02_per_kilo']=7
df.loc[(df.index == 'shrimps'),'category']=fish_cat      
df.loc[(df.index == 'shrimps'),'C02_per_kilo']=7

df.loc[(df.index == 'prawn'),'category']=fish_cat      
df.loc[(df.index == 'prawn'),'C02_per_kilo']=4.5

df.loc[(df.index == 'trout'),'category']=fish_cat      
df.loc[(df.index == 'trout'),'C02_per_kilo']=4.5

df.loc[(df.index == 'flatfish'),'category']=fish_cat      
df.loc[(df.index == 'flatfish'),'C02_per_kilo']=6

df.loc[(df.index == 'lobster'),'category']=fish_cat      
df.loc[(df.index == 'lobster'),'C02_per_kilo']=5.3

df.loc[(df.index == 'mullet'),'category']=fish_cat      
df.loc[(df.index == 'mullet'),'C02_per_kilo']=5.3

df.loc[(df.index == 'silver carb'),'category']=fish_cat      
df.loc[(df.index == 'silver carb'),'C02_per_kilo']=5.3

df.loc[(df.index == 'herring'),'category']=fish_cat      
df.loc[(df.index == 'herring'),'C02_per_kilo']=2

df.loc[(df.index == 'mackerel'),'category']=fish_cat      
df.loc[(df.index == 'mackerel'),'C02_per_kilo']=2

df.loc[(df.index == 'squid'),'category']=fish_cat      
df.loc[(df.index == 'squid'),'C02_per_kilo']=5.4

df.loc[(df.index == 'octopus'),'category']=fish_cat      
df.loc[(df.index == 'octopus'),'C02_per_kilo']=5.4
df.loc[(df.index == 'demersal fish'),'category']=fish_cat      
df.loc[(df.index == 'demersal fish'),'C02_per_kilo']=5.4

In [53]:
#### meat
df.loc[(df.index == 'pepperoni'),'category']=pig_cat      
df.loc[(df.index == 'pepperoni'),'C02_per_kilo']=13.06

In [54]:
## fruit
df.loc[(df.index == 'apples'),'category']=fruit_cat      
df.loc[(df.index == 'apples'),'C02_per_kilo']=0.6
df.loc[(df.index == 'apple'),'category']=fruit_cat      
df.loc[(df.index == 'apple'),'C02_per_kilo']=0.6

df.loc[(df.index == 'pineapple'),'category']=fruit_cat      
df.loc[(df.index == 'pineapple'),'C02_per_kilo']=1.9

df.loc[(df.index == 'dates'),'category']=fruit_cat      
df.loc[(df.index == 'dates'),'C02_per_kilo']= 0.5 #0.2 # conflict 1.1

df.loc[(df.index == 'blood oranges'),'category']=fruit_cat      
df.loc[(df.index == 'blood oranges'),'C02_per_kilo']=0.2


df.loc[(df.index == 'guava'),'category']=fruit_cat      
df.loc[(df.index == 'guava'),'C02_per_kilo']=0.15

df.loc[(df.index == 'cantaloupe'),'category']=fruit_cat      
df.loc[(df.index == 'cantaloupe'),'C02_per_kilo']=0.14

df.loc[(df.index == 'melons'),'category']=fruit_cat      
df.loc[(df.index == 'melons'),'C02_per_kilo']=0.14

df.loc[(df.index == 'honeydew melon'),'category']=fruit_cat      
df.loc[(df.index == 'honeydew melon'),'C02_per_kilo']=0.14

df.loc[(df.index == 'water melon'),'category']=fruit_cat      
df.loc[(df.index == 'water melon'),'C02_per_kilo']=0.14

df.loc[(df.index == 'pears'),'category']=fruit_cat      
df.loc[(df.index == 'pears'),'C02_per_kilo']=0.14

df.loc[(df.index == 'pumpkins'),'category']=fruit_cat      
df.loc[(df.index == 'pumpkins'),'C02_per_kilo']=0.14

df.loc[(df.index == 'oranges'),'category']=fruit_cat      
df.loc[(df.index == 'oranges'),'C02_per_kilo']=0.13
df.loc[(df.index == 'orange'),'category']=fruit_cat      
df.loc[(df.index == 'orange'),'C02_per_kilo']=0.13

df.loc[(df.index == 'beets'),'category']=fruit_cat      
df.loc[(df.index == 'beets'),'C02_per_kilo']=0.05

df.loc[(df.index == 'plantains'),'category']=fruit_cat      
df.loc[(df.index == 'plantains'),'C02_per_kilo']=1.6

In [55]:
## vegis
df.loc[(df.index == 'asparagus'),'category']=vegetables_cat      
df.loc[(df.index == 'asparagus'),'C02_per_kilo']=1.5


df.loc[(df.index == "pepper"),'category']=vegetables_cat      
df.loc[(df.index == "pepper"),'C02_per_kilo']=2

df.loc[(df.index == 'onions'),'category']=vegetables_cat      
df.loc[(df.index == 'onions'),'C02_per_kilo']=0.5

df.loc[(df.index == 'peas'),'category']=vegetables_cat      
df.loc[(df.index == 'peas'),'C02_per_kilo']=1.2

df.loc[(df.index == 'maize'),'category']=vegetables_cat      
df.loc[(df.index == 'maize'),'C02_per_kilo']=0.7

df.loc[(df.index == 'vegetable fats'),'category']=vegetables_cat      
df.loc[(df.index == 'vegetable fats'),'C02_per_kilo']=1.6

df.loc[(df.index == 'hash browns'),'category']=vegetables_cat      
df.loc[(df.index == 'hash browns'),'C02_per_kilo']=4

df.loc[(df.index == 'potatoe'),'category']=vegetables_cat      
df.loc[(df.index == 'potatoe'),'C02_per_kilo']=1.6#2.9 # conflict 0.4
df.loc[(df.index == 'potatoes'),'category']=vegetables_cat      
df.loc[(df.index == 'potatoes'),'C02_per_kilo']=1.6#2.9 # conflict 0.4

df.loc[(df.index == 'broccoli'),'category']=vegetables_cat     
df.loc[(df.index == 'broccoli'),'C02_per_kilo']=1.5

df.loc[(df.index == 'lentils'),'category']=vegetables_cat     
df.loc[(df.index == 'lentils'),'C02_per_kilo']=0.9

df.loc[(df.index == 'lettuche'),'category']=vegetables_cat     
df.loc[(df.index == 'lettuche'),'C02_per_kilo']=0.6 #conflikt 0.2
df.loc[(df.index == 'letuche'),'category']=vegetables_cat     
df.loc[(df.index == 'letuche'),'C02_per_kilo']=0.6 #conflikt 0.2


df.loc[(df.index == 'lima beans'),'category']=vegetables_cat     
df.loc[(df.index == 'lima beans'),'C02_per_kilo']=1.14

df.loc[(df.index == 'olives'),'category']=vegetables_cat     
df.loc[(df.index == 'olives'),'C02_per_kilo']=2 # 0.2 vs conflict 4.5 
df.loc[(df.index == 'olive'),'category']=vegetables_cat     
df.loc[(df.index == 'olive'),'C02_per_kilo']=2

df.loc[(df.index == 'radishes'),'category']=vegetables_cat      
df.loc[(df.index == 'radishes'),'C02_per_kilo']=0.16

df.loc[(df.index == 'parsley'),'category']=vegetables_cat      
df.loc[(df.index == 'parsley'),'C02_per_kilo']=0.15

df.loc[(df.index == 'cucumbers'),'category']=vegetables_cat     
df.loc[(df.index == 'cucumbers'),'C02_per_kilo']=0.1

df.loc[df.index.str.contains('cabbage'), 'category'] = vegetables_cat     
df.loc[df.index.str.contains('cabbage'), 'C02_per_kilo'] = 0.1 

df.loc[(df.index == 'celery'),'category']=vegetables_cat     
df.loc[(df.index == 'celery'),'C02_per_kilo']=0.12
df.loc[(df.index == 'carrots'),'category']=vegetables_cat     
df.loc[(df.index == 'carrots'),'C02_per_kilo']=0.12

df.loc[(df.index == 'eggplant'),'category']=vegetables_cat     
df.loc[(df.index == 'eggplant'),'C02_per_kilo']=0.09

df.loc[(df.index == 'pepper'),'category']=vegetables_cat     
df.loc[(df.index == 'pepper'),'C02_per_kilo']=2.5

df.loc[(df.index == 'soybeans'),'category']=vegetables_cat     
df.loc[(df.index == 'soybeans'),'C02_per_kilo']=2.0


df.loc[df.index.str.contains('olive'), 'category'] = vegetables_cat      
df.loc[df.index.str.contains('olive'), 'C02_per_kilo'] = 2 # conflict 4.5

In [56]:
## juice 
df.loc[(df.index == 'orange juice'),'category']=juice_cat     
df.loc[(df.index == 'orange juice'),'C02_per_kilo']=3 #7.97 #214

In [57]:
## others 
df.loc[(df.index == 'porridge'),'category']= other_cat     
df.loc[(df.index == 'porridge'),'C02_per_kilo']=0.3

df.loc[(df.index == 'peanut butter'),'category']= other_cat     
df.loc[(df.index == 'peanut butter'),'C02_per_kilo']=2.5

df.loc[(df.index == 'potato chips'),'category']= other_cat     
df.loc[(df.index == 'potato chips'),'C02_per_kilo']=3.43

df.loc[(df.index == 'ketchup'),'category']= other_cat     
df.loc[(df.index == 'ketchup'),'C02_per_kilo']=2.25

df.loc[(df.index == 'cereal'),'category']= other_cat     
df.loc[(df.index == 'cereal'),'C02_per_kilo']=1.5

df.loc[(df.index == 'oats'),'category']= other_cat     
df.loc[(df.index == 'oats'),'C02_per_kilo']=1

df.loc[(df.index == 'rye'),'category']= other_cat     
df.loc[(df.index == 'rye'),'C02_per_kilo']=1

df.loc[(df.index == 'whey'),'category']= other_cat     
df.loc[(df.index == 'whey'),'C02_per_kilo']=2.0

df.loc[(df.index == 'ice cream'),'category']= other_cat     
df.loc[(df.index == 'ice cream'),'C02_per_kilo']=1.82

df.loc[(df.index == 'magarine'),'category']= other_cat     
df.loc[(df.index == 'magarine'),'C02_per_kilo']=1.77

df.loc[(df.index == 'coffee beans'),'category']= other_cat     
df.loc[(df.index == 'coffee beans'),'C02_per_kilo']=1.77

df.loc[(df.index == 'cocoa beans'),'category']= other_cat     
df.loc[(df.index == 'cocoa beans'),'C02_per_kilo']= 2.5 #1.13 # conflict 3.4

df.loc[(df.index == 'cocoa powder'),'category']= other_cat     
df.loc[(df.index == 'cocoa powder'),'C02_per_kilo']=0.2

df.loc[(df.index == 'barley'),'category']= other_cat     
df.loc[(df.index == 'bearley'),'C02_per_kilo']=3.7

In [58]:
# oil 
df.loc[(df.index == 'maize germ oil'),'category']=oil_cat      
df.loc[(df.index == 'maize germ oil'),'C02_per_kilo']=0.4


df.loc[(df.index == 'peanut oil'),'category']=oil_cat      
df.loc[(df.index == 'peanut oil'),'C02_per_kilo']=3.9

df.loc[(df.index == 'vegetable oil'),'category']=oil_cat      
df.loc[(df.index == 'vegetable oil'),'C02_per_kilo']= 2.5 #1.8 # conflict 3.2

df.loc[(df.index == 'cooking oil'),'category']=oil_cat      
df.loc[(df.index == 'cooking oil'),'C02_per_kilo']=1.8

df.loc[(df.index == 'salad oil'),'category']=oil_cat      
df.loc[(df.index == 'salad oil'),'C02_per_kilo']=1.8

df.loc[(df.index == 'rapeseed oil'),'category']=oil_cat      
df.loc[(df.index == 'rapeseed oil'),'C02_per_kilo']=1.7

df.loc[(df.index == 'palm oil'),'category']=oil_cat      
df.loc[(df.index == 'palm oil'),'C02_per_kilo']=3.3

df.loc[(df.index == 'canola oil'),'category']=oil_cat      
df.loc[(df.index == 'canola oil'),'C02_per_kilo']=1.7

df.loc[(df.index == 'soybean oil'),'category']=oil_cat      
df.loc[(df.index == 'soybean oil'),'C02_per_kilo']=1.7

df.loc[(df.index == 'sunflower oil'),'category']=oil_cat      
df.loc[(df.index == 'sunflower oil'),'C02_per_kilo']=2.5#1.5 # conflict 3.3
df.loc[(df.index == 'sunflower seed oil'),'category']=oil_cat      
df.loc[(df.index == 'sunflower seed oil'),'C02_per_kilo']=2.5#1.5 #conflict 3.3

df.loc[(df.index == 'crops oil'),'category']=oil_cat      
df.loc[(df.index == 'crops oil'),'C02_per_kilo']=2.4
df.loc[(df.index == 'oil crops'),'category']=oil_cat      
df.loc[(df.index == 'oil crops'),'C02_per_kilo']=2.4

df.loc[(df.index == 'coconut oil'),'category']=oil_cat      
df.loc[(df.index == 'coconut oil'),'C02_per_kilo']=2.1

df.loc[(df.index == 'olive oil'),'category']=oil_cat      
df.loc[(df.index == 'olive oil'),'C02_per_kilo']=4.5

df.loc[(df.index == 'sesame seeds'),'category']=oil_cat      
df.loc[(df.index == 'sesame seeds'),'C02_per_kilo']=4.2


# nuts 
df.loc[(df.index == 'almonds'),'category']=nuts_cat      
df.loc[(df.index == 'almonds'),'C02_per_kilo']=3.5

df.loc[(df.index == 'pecans'),'category']=nuts_cat      
df.loc[(df.index == 'pecans'),'C02_per_kilo']=1.6

# drinks 
df.loc[(df.index == 'coffee'),'category']=otherdrinks_cat      
df.loc[(df.index == 'coffee'),'C02_per_kilo']=6.21 #2.51 # conflict 10
df.loc[(df.index == 'water'),'category']=otherdrinks_cat      
df.loc[(df.index == 'water'),'C02_per_kilo']=0.06 

# other drinks 
df.loc[(df.index == 'figs'),'category']=fruit_cat      
df.loc[(df.index == 'figs'),'C02_per_kilo']=1.54

df.loc[(df.index == 'tea'),'category']=otherdrinks_cat      
df.loc[(df.index == 'tea'),'C02_per_kilo']=1.9
df.loc[(df.index == 'tea bags'),'category']=otherdrinks_cat      
df.loc[(df.index == 'tea bags'),'C02_per_kilo']=1.9
df.loc[(df.index == 'teas'),'category']=otherdrinks_cat      
df.loc[(df.index == 'teas'),'C02_per_kilo']=1.9


# seeds
df.loc[(df.index == 'sesame seeds'),'category']=seeds_cat      
df.loc[(df.index == 'sesame seeds'),'C02_per_kilo']=4.2

df.loc[(df.index == 'rape seeds'),'category']=seeds_cat      
df.loc[(df.index == 'rape seeds'),'C02_per_kilo']=2.9
df.loc[(df.index == 'rape seed'),'category']=seeds_cat      
df.loc[(df.index == 'rape seed'),'C02_per_kilo']=2.9
df.loc[(df.index == 'mustard seeds'),'category']=seeds_cat      
df.loc[(df.index == 'mustard seeds'),'C02_per_kilo']=2.9
df.loc[(df.index == 'mustard seed'),'category']=seeds_cat      
df.loc[(df.index == 'mustard seed'),'C02_per_kilo']=2.9

#green spices
df.loc[(df.index == 'lorbeer'),'category']=greenspices_cat     
df.loc[(df.index == 'lorbeer'),'C02_per_kilo']=greenspices_C02
df.loc[(df.index == 'lorbeerblÃƒÂ¤tter'),'category']=seeds_cat      
df.loc[(df.index == 'lorbeerblÃƒÂ¤tter'),'C02_per_kilo']=greenspices_C02

In [59]:
# flour
df.loc[df.index.str.contains('whey'), 'category'] = flour_cat      
df.loc[df.index.str.contains('whey'), 'C02_per_kilo'] = 2

In [60]:
df.loc[df.index.str.contains("honey"),'category'] = liqspices_cat
df.loc[df.index.str.contains("honey"), 'C02_per_kilo'] = 1.0

# output

In [61]:
df

                     category  C02_per_kilo
ingredients
tomato sauce           sauces         1.600
tomato paste           sauces         1.600
american cheese        cheese        11.300
beef broth              broth         0.500
chicken broth           broth         0.500
...                       ...           ...
ziti                  unknown         0.404
zitronensaft            juice         1.720
zucchini           vegetables         1.600
zucchini blossoms  vegetables         1.600
zucchini noodles      noodles         1.240

[4822 rows x 2 columns]

In [62]:
df.groupby(['category']).size()

category
Poultry_meat        11
aquatic plants       2
beer                20
booze               27
bread              132
broth              249
cheese             137
chicken             55
coconut             28
corn                61
cow                116
eggs                29
fats                 1
fish               109
flour               15
fruit              148
greenspices        301
juice               65
lamb                28
mayonnaise          70
milk                51
mushrooms           39
noodles            104
nuts                64
oil                 63
other               34
other_animals       17
other_drinks         4
pig                101
pulses               7
rice                65
sauces             351
sausage             47
seeds               28
soft drinks         13
spices             447
starchy roots        5
sugar               36
turkey              28
unknown           1301
vegan               14
vegetables         369
wine                30
dtype: int64

other_cat = "other"
otherdrinks_cat= "other_drinks"
fats_cat
lamb_cat
pig_cat
sausage_cat
cow_cat
chicken_cat
turkey_cat
fish_cat
poultry_meat_cat
other_animals_cat
eggs_cat
milk_cat
cheese_cat
mayonnaise_cat
vegan_cat
vegetables_cat 
fruit_cat
coconut_cat
mushrooms_cat
rice_cat
staro_cat
aquaplants_cat
bread_cat
noodles_cat
sugar_cat
corn_cat
nuts_cat
seeds_cat 
pulses_cat
soft_drinks_cat 
juice_cat
wine_cat
beer_cat
booze_cat
broth_cat
spices_cat
greenspices_cat
liqspices_cat
flour_cat
oil_cat

## unknown values

In [63]:
unknown_df = df[df['category'] == "unknown"]

In [64]:
unknown_df

                 category  C02_per_kilo
ingredients
 half and half    unknown         0.404
 parslei minicub  unknown         0.404
 shoyu            unknown         0.404
 tamari           unknown         0.404
 tortillas        unknown         0.404
...                   ...           ...
yuzu              unknown         0.404
yuzukosho         unknown         0.404
zaatar            unknown         0.404
zest              unknown         0.404
ziti              unknown         0.404

[1301 rows x 2 columns]

## delete unkown

In [65]:
unknown_df_index = df[df['category'] == "unknown"].index

In [66]:
df.drop(unknown_df_index , inplace=True)

In [67]:
df.groupby(['category']).size()

category
Poultry_meat       11
aquatic plants      2
beer               20
booze              27
bread             132
broth             249
cheese            137
chicken            55
coconut            28
corn               61
cow               116
eggs               29
fats                1
fish              109
flour              15
fruit             148
greenspices       301
juice              65
lamb               28
mayonnaise         70
milk               51
mushrooms          39
noodles           104
nuts               64
oil                63
other              34
other_animals      17
other_drinks        4
pig               101
pulses              7
rice               65
sauces            351
sausage            47
seeds              28
soft drinks        13
spices            447
starchy roots       5
sugar              36
turkey             28
vegan              14
vegetables        369
wine               30
dtype: int64

In [69]:
df

                     category  C02_per_kilo
ingredients
tomato sauce           sauces          1.60
tomato paste           sauces          1.60
american cheese        cheese         11.30
beef broth              broth          0.50
chicken broth           broth          0.50
...                       ...           ...
zinfandel                wine          1.00
zitronensaft            juice          1.72
zucchini           vegetables          1.60
zucchini blossoms  vegetables          1.60
zucchini noodles      noodles          1.24

[3521 rows x 2 columns]

## save csv

In [70]:
df.to_csv (r'table_co2_v2.csv', index = True, header=True)